<form action="/articles" method="post">
  <label>Title: </label>
  <input type="text" name="title"><br>
  <label>Content: </label>
  <input type="text" name="content"><br><br>
  <input type="submit" name="Submit" value="Submit" id="Submit">
  </form>